<html lang="pt-br">
<div class="page-header" filter-color="orange">
    <div class="page-header-image" style="background-image:url(assets/img/Radial-2.jpg)"></div>
    <div class="container" >
        <div class="col-md-4 content-center" >
                <div class="content-center brand" >
                    <h4> Aqui estão seus locais favoritos</h4>
                    <div class="card" *ngFor="let favorito of favoritos">
                        <div class="content-center brand">
                            <div class="col-md-4" >
                                <ul class="nav nav-tabs justify-content-center" role="tablist">
                                    <li class="nav-item" role="tab">
                                        <span role="tab" style="color: black">{{favorito}}</span>
                                        <button class="btn btn-info btn-round" 
                                                type="button"
                                                (click)="verMais(favorito)">ver mais</button>
                                        <button class="btn btn-danger btn-round" 
                                                type="button"
                                                (click)="excluir(favorito)">excluir</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</html>